<h1>Book your item</h1>
<%= simple_form_for [@camera, @booking] do |form| %>
<div class="form-inputs">
    <%= form.input :start_date %>
    <%= form.input :end_date %>
</div>
    <%= form.submit 'Confirm booking', class: "btn btn-primary btn-sm text-white" %>
<% end %>
