<div class="container">
  <h1>Dashboard</h1>
    <h2>My Cameras</h2>
      <p><%= current_user.first_name if user_signed_in?%>'s <mark>owned</mark> cameras </p>
        <li>
          <% current_user.cameras.each do |camera|%>
          <%= camera.camera_type + " " + camera.brand %>
          <% end %>
        </li>
<a class="btn btn-outline-success" href="#" role="button">new</a>

    <h2>My Bookings</h2>
        <p><%= current_user.first_name if user_signed_in?%>'s <mark>rented</mark> cameras </p>
          <li>
              <% current_user.bookings.each do |booking|%>
              <%= booking.camera.camera_type + " " + booking.camera.brand + " " + "Start Date" + booking.start_date.to_s + " " + "End Date" + booking.end_date.to_s %>
              <% end %>
          </li>

<a class="btn btn-outline-success" href="#" role="button">new</a>
</div>
