<br>
<br>
<div class="container">
  <h1>Edit the settings of your <%= @camera.brand %></h1>
  <p>Here we will have a <strong>form where we can change the camera info</strong></p>

  <div><%= render "form-edit", camera: @camera %>
  
</div>
