<br>
<br>
<div class="container">
<h1>Cameras#edit</h1>
<p>Here we will have a <strong>form where we can change the camera info</strong></p>
<p><%= link_to "> Back to listings", cameras_path %></p>
<%= render "form-edit", camera: @camera %>
</div>
