<br>
<br>
<div class="container">
  <h1>All Cameras</h1>
  <p>List of all currently available cameras:</p>

  <% @cameras.each do |camera| %>
  <div>
  <br>
  <p><strong>[picture here]</strong></p>
  <br>
  <h4><%= camera.brand %></h4>
  <h6><%= camera.camera_type %></h6>
  <h6><%= camera.address %></h6>
  </div>
  <% end %>

</div>
