<div class="container">
  <h1>Camera: <%= @camera.brand %></h1>
  <p>Here we will have a <strong>list of all available cameras</strong></p>

  <% @cameras.each do |camera| %>
  <li><%= camera.brand %> | <%= camera.camera_type %> | <%= camera.address %></li>
  <% end %>

</div>
