<div class="container mx-auto w-50 mt-0 text-white bg-dark mb-3 px-5 py-5 rounded" style="max-width: 50rem;">
  <h1>Upload your new camera</h1>
  <p>Please define <strong>type of camera, brand, pickup address</strong> and upload a good quality <strong>image of your camera.</strong></p>

  <div><%= render "form-new", camera: @camera %></div>

</div>
