<br>
<br>
<div class="container">
  <br>
  <p>There will be an <strong>image: here</strong></p>
  <br>
  <p>you selected a:</p>
  <h1><%= @camera.brand %> camera</h1>
  <h5>brand: <%= @camera.brand %></h5>
  <h5>type: <%= @camera.camera_type %></h5>
  <h5>address: <%= @camera.address %></h5>
</div>
