.dash-btn-accept{
  border-radius: 25px;
  background-color: #9adcdd;
  font-weight: 600;
  color: #16355a;
  border: none;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  transition: 0.3s ease;
  margin-right: 10px;
  margin-left: 10px;
}

.dash-btn-reject{
  border-radius: 25px;
  background-color: #fa193e;
  font-weight: 600;
  color: whitesmoke;
  border: none;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  transition: 0.3s ease;
  margin-right: 10px;
}

.dash-btn-delete{
  border-radius: 25px;
  background-color: #000000;
  font-weight: 600;
  color: whitesmoke;
  border: none;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  transition: 0.3s ease;
  margin-right: 20px;
}

.dash-btn-new-cam{
  border-radius: 25px;
  background-color: #1985b3;
  font-weight: 500;
  color: whitesmoke;
  border: none;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  transition: 0.3s ease;
}
