
.ilu_landing_page {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0;

}

.centered {
  position: absolute;
  top: 275px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h1 {
  font-family: 'Amaranth', sans-serif;
  font-weight: bold;
  font-size: 30pt;
  line-height: 75%;
  color: #3e84af;
}
